.bg-gray {
    background: #71717a;
}

.bg-red {
    background: #ef4444;
}

.bg-red-soft {
    background: #fca5a5;
}

.bg-purple {
    background: #a855f7;
}

.bg-purple-soft {
    background: #d8b4fe;
}

.bg-blue {
    background: #3b82f6;
}

.bg-blue-soft {
    background: #93c5fd;
}

.bg-green {
    background: #22c55e;
}

.bg-green-strong {
    background: #15803d;
}

.bg-orange {
    background: #e76714;
}