@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: 0;
}

body {
  -webkit-font-smoothig: antialiased !important;
  background: #FBF5EC;
  font-family: Inter;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}